<!-- 
    
    This page displays a list of projects, can choose to add, update, or remove a project 
    
-->

<div class="row">
    <div class="col-md-12">
        <br>
        <h2>Project List
            <a href="/project/addProjectPage" class="btn btn-success float-right">Add A New Project</a>
        </h2>
        <br/>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Project Name</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each projects}}
                    <tr>
                        <td><a href="/project/{{this.projectId}}">{{this.projectName}}</a></td>
                       
                        <td><a class="btn btn-danger" href='/project/delete/{{this.projectId}}'>Remove</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            {{#unless projects}} 
            <div class="col-md-12 text-center">
                <strong>{{message}}</strong>
            </div>
            {{/unless}}
        </div>
    </div>
</div>