@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Fruktur&display=swap');


body {
    background: url('https://media.istockphoto.com/photos/the-gray-and-silver-are-light-black-with-white-the-gradient-is-the-picture-id1322292759?b=1&k=20&m=1322292759&s=170667a&w=0&h=FtcK2R11RjeMUkMUWu5kxFmYR8pY-G8OLs99PnWIJpE=') no-repeat center center fixed;
    background-size: cover;
}

nav {
    background: linear-gradient(to bottom, #003449, #27ced8);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.navbar-brand {
    font-family: 'Permanent Marker', cursive;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
    color: #e09b9a;
    font-size: 30px;
}

li.active{
    background-color: #27ced8;
}

a.nav-link {
    font-size: 20px;
    font-family: 'Courgette', cursive;
    color: #e1ffe7;
}

a.nav-link:hover {
    font-size: 30px;
    color: white;
}

h1 {
    font-family: 'Cardo', serif;
    text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15);
    color: #4f0004;
}

header,
h4 {
    font-family: 'Rampart One', cursive;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}

section a {
    color: #e0931f;
}

section a:hover {
    text-decoration: none;
    color: #0b7bf4;
}

.table {
    font-size: 18px;
    width: 100%;
}

th,
td {
    padding: 10px;
}

.bgcolor tr:nth-child(odd) {
    background-color: lightgrey
}

.bgcolor tr:hover {
    background-color: #caeffe;
    font-weight: bold;
}


legend {
    font-family: 'Cardo', serif;
    font-family: 'Fruktur', cursive;
    color: #006699;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
    padding-top: 30px;
    padding-bottom: 20px;
}

.btn {
    border-radius: 20px;
    border: none;
    background-color: rgb(22, 0, 100);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.btn:hover {
    font-weight: bold;
    background-color: rgb(50, 130, 205);
}
    
label {
    font-size: 17px;
    font-weight: bold;
}