
<div class="row">
	<main class="col-md-12">
		<h1>
			Welcome To Here !
		</h1>
		<br>

		<hr>

		<header>
			<h4>Techniques to use</h4>
		</header>
		<section>
			<p>This site utilizes HTML5: a markup language used for structuring
				and presenting content on the World Wide Web
			</p>
		</section>

	</main>
</div>

